/* header style */
.section{
    padding: 10px 145px ;

}
.vibes{
    color: orangered;
}
h3{
    font-size: 30px;
    margin-left: -450px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img{
    height: 100px;
    width: 130px;
    margin-left: -30px;
}

nav > ul{
    display: flex;
   
}

nav li{
    list-style: none;
    font-size: 20px;
    font-weight: 500;
    margin-right: 30px;
    text-align: right;
}
nav li a{
    text-decoration: none;
}

.home{
    font-weight: bold;
    color: orangered;
}

/* banner style */

.banner-img{
    background-image: url(Images/Group13.png);
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    
}
h1{
    font-size: 50px;
    /* padding-top: -200px; */
}

.explore{
    text-align: center;
padding-top: 100px;
color: #fff;
}

/* form style */
* {
    box-sizing: border-box;
  }
  
  input[type=text], select, textarea {
    width: 24%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }

  input[type=submit] {
    background-color: #f4801b;
    color: white;
    padding: 12px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float:center;
    width: 25%;
  }

  .container {
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.30);
    padding: 10px;
    width: 80%;
    /* align-items: center;
    text-align: center; */
    margin-left: 120px;
  }
  
  
  /* Clear floats after the columns */
  .row::after {
    content: "";
    display: table;
    clear: both;
  }
.btn-find{
    background-color:  #ef6e28;
    color: #fff;
    border-radius: 5px;
    padding: 13px 70px;
    font-size: 1.25rem;
    cursor: pointer;
    border: 0px;
   padding-top: 7px;
}

  /* Popular style */

  .main-container{
    display: flex;
    margin-top: 80px;
  }
  .right-container {
    margin-left: 20px;
    margin-right: 20px;
    }
  .right-container  img{

    width: 550px;
    height: 540px;
    
    }
.left-container{
    margin-left: 0px;
    
    }

    .btn-read{
        background-color:  #ef6e28;
    color: #fff;
    border-radius: 5px;
    padding: 15px 50px;
    font-size: 1.25rem;
    cursor: pointer;
    border: 0px;
   padding-top: 10px;
   margin-top: 50px;
    }


    /* gallery style */

    .choose{
        text-align: center;
    }
    .row-gallery{
        display: flex;
        gap: 30px;
        text-align: center;
    }
  .maldives{
    background-image: url(Images/Rectangle5.png);
    background-repeat: no-repeat;
    /* height: 300px;
    width: 100%; */
    width: 573px;
height: 300px;
    border-radius: 16px;
  }
  
    .Indonesia{
    background-image: url(Images/Rectangle_8.png);
    background-repeat: no-repeat;
    /* height: 300px;
    width: 100%; */
    width: 573px;
height: 300px;
    border-radius: 16px;
  }

  .row-gallery-1{
    display: flex;
    gap: 36px;
   margin-top: 40px;
   text-align: center;
}
    .srilangka{
        background-image: url(Images/Rectangle6.png);
        background-repeat: no-repeat;
        /* height: 300px;
        width: 100%; */
        width: 374px;
        height: 286px;
        border-radius: 16px;
    }
    .america{
        background-image: url(Images/Rectangle7.png);
        background-repeat: no-repeat;
        /* height: 300px;
        width: 100%; */
        width: 474px;
height: 286px;
        border-radius: 16px;
    }
    .kashmir{
        background-image: url(Images/Rectangle9.png);
        background-repeat: no-repeat;
        /* height: 300px;
        width: 100%; */

        width: 274px;
       height: 286px;
        border-radius: 16px;
    }

/* .row-gallery img{
    width: 40%;
    height: 400px;
    display: flex;
    gap: 5px;
    margin-bottom: 5px;

}*/
 .row-gallery>div{
    flex: 1 ;
} 

.row-gallery-2{
    display: flex;
    gap: 30px;
   margin-top: 40px;
   text-align: center;

}

.bangladesh{
    background-image: url(images/Rectangle11.png);
    width: 500px;
height: 300px;
background-repeat: no-repeat;
}
.bandarban{
    background-image: url(images/Rectangle10.png);
    width: 700px;
height: 300px;
background-repeat: no-repeat;
}

.country{
    font-size: 40px;
    color: #fff;
    padding-top: 80px;

}


/* card style */

.card-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
}
.card{

    padding: 10px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);

    background: rgba(251, 181, 99, 0.05);
}
.card-1{

    padding: 10px;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);

background: rgba(41, 206, 246, 0.05)
}
.card img{
    width: 64px;
    height: 64px;


}
.card-1 img{
    width: 64px;
    height: 64px;

}

.card-container-1{
margin-top: 10px;
align-items: center;
margin-left: 280px;

}

.card-2{
   width: 75%;
    padding: 10px;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}
.card-2 img{
    width: 64px;
    height: 64px;

}